@font-face {
	font-family: 'Modern No. 20';
	font-style: normal;
	font-weight: normal;
	src: local('font/Modern No. 20'), url('font/MOD20.woff') format('woff');
}

body {
	font-family:'Modern No. 20';
}

div{
    display:block;
}
/*Small screen view*/
@media screen and (max-width:1024px){
	.side-decor{
		display: none;
	}
	.headerlogo{
		width: 100%;
	}
	nav{
		width: 100%;
	}
}
/*Header*/
/*header img & language flags*/
.langnav{
    position: absolute;
    right: 25px;
    top: 0;
}
.langnav>a {
    display: block;
    width: 40px;
	float:left;
	margin-right: 10px;
	filter: grayscale(100%);
}
*{margin: 0; padding: 0;}
.langnav>a:hover {
	filter: grayscale(0%);
}
.headerlogo{
    width: 45%;
    margin: 0 auto;
}
/*Navbar*/
.navbar{
    width: 50%;
	text-align: center;
    margin: 0 auto;
    background-color: #fff;
    border-color: #fff;
    display: block;
}
.navbar ul{
    list-style: none;
    display: inline-block;
}
.navbar ul li{
	float: left;
    text-align: center;
    margin: 0 20px;
}
.caret {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	border-top: 4px dashed;
	border-right: 4px solid transparent;
    border-left: 4px solid transparent
}
.dropbtn{
    display: inline-block;
    float: none;
    vertical-align: top;
    font-family: 'Modern No. 20';
    font-size: 16px;
    border: none;
    background: none;
}
.dropbtn a{
    color: #777;
    text-decoration: none;
}
.dropdown-content{
    display: none;
    position:absolute;
    background-color: #000;
    text-align: left;
    width: min-content;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 99999;
}
.dropdown-content a{
    display: block;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    float: left;
    padding: 16px;
    width: 220px
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a:hover{
    background-color: #777;
}
/*Body*/
header h1 a,h3 a{
    color: #000000;
}
/*side decor*/
.side-decor{
    position: fixed;
    margin-top: -25px;
    width: 100%;
}
.side-decor div img{
    width: 2.3vw;
    opacity: 0.05;
}
.side-decor-left{
    float: left;
    margin-left: 10%;
}
.side-decor-right{
    float: right;
    margin-right: 10%;
}
.siderune-left{
    float: left;
}
.siderune-right{
    float: right;
}
.slider{
	width: 50%;
	margin: 0 auto;
}
/*Mjoed on front page*/
.mjoed-preview{
	display: grid;
	grid-template-columns: 30% 30% 30%;
	column-gap: 15px;
	margin: 0 auto;
	justify-content: center;
}
.mjoed-bottle{
	display: grid;
	text-align: center;
	align-content: center;
}
.mjoed-bottle img{
	margin: 0 auto;
}
.food-placeholder{
	width: 100%;
}
body {
    font-size: 16px;
    line-height: 1.42857;
    color: #333;
    background-color: #fff;
}
h2 {
	font-size: 20px;
}
h2 a {
	color: #000;
	text-decoration: none;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #000;
}
/*Footer*/
footer .container .row {
    padding-top: 20px;
    border-top: 0px dotted #ccc;
}
.footergrid{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: auto;
}
.footergrid div{
    margin: 0 auto;
}
/*FAQ CSS*/
.faq-div-top{
	width: 100%;
}
.faq-div{
	
}
.accordion{
	width: 100%;
	margin: 0 auto;
	background-color: #E9E9E950; 
  	color: #444;
  	cursor: pointer;
  	padding: 6px 18px;
  	border: none;
  	text-align: left;
  	outline: none;
  	font-size: 15px;
  	transition: 0.4s;
}
.panel{
	padding: 0 18px;
	display: none;
	background-color: white;
	overflow: hidden;
}
.question{
}
.active, .accordion:hover {
  background-color: #ccc; 
}
/*Madopskrifter*/
.opskriftmad{
	width: 30%;
	float: right;
	position: relative;
	margin-right: 5px;
}
.opskriftmad img{
	width: 100%;
}

/*Overview text*/
.pagetitle{
    text-align: center;
}
/*overview slides*/
.overview{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 25px;
}
.product{
    display: grid;
}
.product img{
    width: 100%;
}
/* Slideshow container */
.product-container {
  position: relative;
  margin: auto;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #000;
  font-size: 15px;
  padding: 8px 12px;
  position: relative;
  bottom: 12px;
  width: 100%;
  text-align: center;
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 2px 0;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.show{
    display: block;
}
.noshow{
    display: none;
}

/*Individual products*/
.individualproduct{
    display: grid;
    grid-template-columns: auto auto;
}
.col-md-6{
    display: grid;
}
.findforhandlerknap{
    background-color: #859FAA63;
    text-align: center;
    width: 150px;
    height: 30px;
    margin: 0 auto;
    padding: 5px;
    color:#000;
}