@font-face {
	font-family: 'Modern No. 20';
	font-style: normal;
	font-weight: normal;
	src: local('font/Modern No. 20'), url('font/MOD20.woff') format('woff');
}
body {
	font-family:'Modern No. 20';
}
body {
    font-size: 16px;
    line-height: 1.42857;
    color: #333;
    background-color: #fff;
}
h2 {
	font-size: 20px;
}
h2 a {
	color: #000;
	text-decoration: none;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #000;
}
img.logo {
	margin: auto;
}
.navbar-default {
    background-color: #fff;
    border-color: #fff;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #fff;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
  font-family:'Modern No. 20';
}

.navbar .navbar-collapse {
  text-align: center;
 
}
.navbar-nav li>a {
	font-size: 16px;
	text-transform: uppercase;
}
.ce-menu.ce-menu-layout-3, .ce-menu.ce-menu-layout-4, .dropdown-menu {
    background: #000;
}

.dropdown-menu li>a {
	color: #fff;
}
.langnav {
	position: absolute;
	right: 25px;
	top: 0;
}
.langnav>span {
    padding: 0 17px 0 17px;
    font-size: 11px;
    line-height: 35px;
    font-weight: 400;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #ffffff;
    background: #8a8a8a;
    margin-right: 2px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transition: opacity 0.5s ease-in;
    -moz-transition: opacity 0.5s ease-in;
    transition: opacity 0.5s ease-in;
}
.langnav>span a {
	color: #fff;
}

footer .container .row {
    margin-top: 60px;
    padding-top: 20px;
    border-top: 0px dotted #ccc;
}
